
        <!-- Header Navigation -->
        <div class="header">First Responder
            <!-- Return Home button -->
            <div class="home-button">
                <a href="/"><img src="images/homeButton.png" alt="Home Button Icon" height="45px" width="45"></a>
            </div>
        </div>
        <!-- Details title -->
        <div class="detail-title">Emergency Details</div>
        <div class="emergency-details">
            <!-- Return to Emergency List View -->
            <ul>
                <li><strong>Call Type:</strong></li>
                <li><strong>Location:</strong></li>
                <li><strong>Units Called:</strong></li>
                <li><strong>Date of Event:</strong></li>
                <li><strong>Time of Event:</strong></li>
            </ul>
        </div>
        <div class="return-to-list">
            <a href= "/listpage">Emergency List</a>
        </div>
    </body>
