<div class="header">First Responder</div>
<div class="Emergency-Location">Emergency Location</div>

<div class="zipcode-container">
    <label for="zip" class="zipcode-label">Zip Code:</label>
    <div class="zipcode_textbox">
        <form action="listpage.ejs">
            <input type="text" name="zip" id="zip" placeholder="Enter ZIP Code">
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</div>
