 <div class="header">First Responder
    <div class="home-button">
        <a href="/">Home</a>
    </div>
    </div>
    <div class="zip-title">Emergency Calls for ZIP Code:</div>
    <div class="emergency-list">
        <form id="addForm">
        </form>

        <ul id="EmergencyCallsList"></ul>

    <script>
        const apiUrl = "http://localhost:3000/api/EmergencyCalls";
        let editing = false;
        let editId = null;

        // Fetch and display EmergencyCalls
        async function fetchEmergencyCalls() {
            try {
                const response = await fetch(apiUrl);
                const EmergencyCalls = await response.json();
                
                document.getElementById("EmergencyCallsList").innerHTML = EmergencyCalls.map(s => 
                    `<li id="EmergencyCalls-${s.id}"> 
                        ${s.type}, ${s.zip}
                    </li>`
                ).join('');
            } catch (error) {
                console.error("Error fetching emergency calls:", error);
            }
}


        // Add or Update EmergencyCalls
        async function submitEmergencyCalls(event) {
            event.preventDefault();            
            const type = document.getElementById("type").value.trim();
            const zip = document.getElementById("zip").value.trim();
            const units = document.getElementById("units").value.trim();
            const date = document.getElementById("date").value.trim();
            const time = document.getElementById("time").value.trim();

            document.getElementById("addForm").reset();
            fetchEmergencyCalls();
        }


        document.getElementById("addForm").addEventListener("submit", submitEmergencyCalls);
        fetchEmergencyCalls();
    </script>
    </div>
