   <div class="header">First Responder</div>
    <div class="zip-title">Emergency Calls for ZIP Code:</div>

    <div class="emergency-list">
        <ul>
            <li><strong>Call Type</strong> | <em>Location</em></li>
            <li>Fire | 98056</li>
            <li>Medical | 98059</li>
            <li>Accident | 98057</li>
            <li>Police | 98055</li>
            <li>Other | 98000</li>
        </ul>
    </div>
    <div class="linklist">
        <a href= "/homepage">Home page</a>
    </div>
