    <div class="header">First Responder</div>
    <div class="zip-input">
        <label for="zip">Zip Input:</label>
        <input type="text" id="zip" name="zip" placeholder="Enter ZIP Code">
        <button class="button">Emergency List</button>
    </div>
    <div class="emergency-list">
        <ul>
            <li>Call Type | Location</li>
            <li>Call Type | Location</li>
            <li>Call Type | Location</li>
            <li>Call Type | Location</li>
            <li>Call Type | Location</li>
        </ul>
    </div>

