<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta name="description" content="CSI443 Web site. Text here shows up in the description listed in search engine results.">
    <meta name="keywords" content="HTML, CSS, XML, JavaScript">
    <meta name="author" content="Edwin Pacheco, Viktoriya Koshelnyk, Diep, Sean">
    
    <title>First Responder</title>

    <!-- If you want to discourage search engines from indexing this site, uncomment the following line -->
    <% /* <meta name="robots" content="noindex"> */ %>

    <!-- Dynamic stylesheet based on the page class -->
    <link rel="stylesheet" href="/styles/<%= pageClass %>.css">
  </head>

  <body>
    <%- body %>
  </body>
</html>
