body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .header {
            background-color: #d3d3d3;
            color: black;
            font-size: 24px;
            font-weight: bold;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .home-button {
            text-decoration: none;
            background-color: #ffffff;
            color: black;
            padding: 8px 16px;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
            margin-right: 10px;
        }
        .home-button:hover {
            background-color: #b0b0b0;
        }
        .zip-title {
            text-align: center;
            font-size: 20px;
            margin: 20px 0;
        }
        .emergency-list {
            background: white;
            padding: 15px;
            margin: 20px;
            border-radius: 8px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);            
        }
        .emergency-call-list ul {
            list-style-type: none;
            width: 80%;
            padding: 0;
        }
        .emergency-list li {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
        .emergency-list li:first-child {
            font-weight: bold;
            background-color: #e0e0e0;
            padding: 10px;
            border-radius: 8px;
        }
        .zip-title {
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
        }
